<div class="container">
  <div>
    <p>
      <!--{{"CreatedBy" | translate}}-->Creado por JGOMWAL111</p>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <img class="image" [src]="src" alt="Imagen relajadora">
      </p>
      <a href="https://github.com/Juanmagw">
        <img src="../../../assets/icons/icono github.png" alt="GitHub">
      </a>
    </div>
    <div class="col">
      <p>Imagen del creador</p>
      <img class="image" src="../../../assets/icons/MiFoto.jpg" alt="Yo">
    </div>
  </div>
</div>
